---
// @components/global/Link.astro
//
// Usage:
// <Link href="/about">About</Link>
// <Link href="/about" class="nav-link">About</Link>
// <Link href="https://example.com" isExternal>Example</Link>
// <Link href="https://example.com" isExternal rel="sponsored">Sponsored</Link>
// <Link href="https://example.com" isExternal ariaLabel="Visit Example (opens in new tab)">Example</Link>

interface Props {
	href: string;
	rel?: string;
	isExternal?: boolean;
	class?: string;
	ariaLabel?: string;
}

const { href, class: classList, isExternal, rel = "", ariaLabel } = Astro.props;
---

<a
  href={href}
  class:list={[classList]}
  rel={`${rel}${isExternal ? ' nofollow noopener noreferrer external' : ''}`}
  aria-label={ariaLabel}
>
  <slot />
</a>
